p{color: red;}
h1{color: black;}
ol{color: rgb(42, 23, 150);}
p{text-transform: capitalize;}
p{text-decoration: underline;}
p{text-align:right;}
h1{text-align: center;}
h1{text-shadow: 5px 5px 5px #c46666;}
ol{border-style:solid;}
ol{border-color: red;}
ol{border-width:medium;}
dl{border: 2px solid blue;
outline: 4px ridge red;}

h1{background-color: blueviolet;}
div{background-repeat: repeat;}
div{background-position: center;}
